
.input{
    height: 90px;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
    width: 300px;
}
.send{
float: right;
}
.button{
    height: 40px;
    float: right;
    margin-right: 10px;
}