<ion-header> 
<ion-toolbar color="tertiary">
    <ion-icon name="arrow-back-outline" slot="start" size="large"(click)="back()"></ion-icon>
  <ion-title><p align="center">Messages</p></ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <div class="send">
    
  <ion-input placeholder="Enter your message" class="input"text-right id="input" [(ngModel)]="inputValue"></ion-input>
  <ion-button color="tertiary">Send<ion-icon name="send" slot="end" size="large"(click)="back()"></ion-icon></ion-button>
</div>
</ion-content>
